# Question 1
Answer : Database - It is a structured collection of data that is stored and organized in a way that makes it easy to access, manage, and update.
        
        SQL Databases - These are relational databases that use a table-based data model. They have a pre-defined schema, which means that the structure of the data is determined in advance, and any data that is added to the database must conform to this structure.
        NoSQL Databases - These are non-relational databases that use a variety of data models, such as document-based, key-value, and graph-based data models. They are schema-flexible, which means that data can be added to the database without first defining a schema.

# Question 2
Answer : DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and delete database objects.

        1. CREATE - The CREATE command is used to create a new database object such as a table.

            Example - 
            CREATE TABLE customers (
                id INT,
                name VARCHAR(50),
                email VARCHAR(100)
            );

        2. DROP - The DROP command is used to delete a database object such as a table.
            Example -
            DROP TABLE customers;

        3. ALTER - The ALTER command is used to modify the structure of a database object such as a table.
            Example - 
            ALTER TABLE customers ADD phone VARCHAR(20);

        4. TRUNCATE - The TRUNCATE command is used to delete all the data from a table while keeping the structure of the table intact.
            Example - 
            TRUNCATE TABLE customers;

# Question 3
Answer : DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate the data stored in a database.

        1. INSERT - The INSERT command is used to add new rows to a table.
            Example - 
            INSERT INTO customers (id, name, email) VALUES (1, 'Tilak Mishra', 'tilak@gmail.com');

        2. UPDATE - The UPDATE command is used to modify existing rows in a table.
            Example - 
            UPDATE customers SET email = 'tilakmishra@gmail.com' WHERE id = 1;

        3. DELETE - The DELETE command is used to delete existing rows from a table.
            Example - 
            DELETE FROM customers WHERE id = 1;

# Question 4
Answer : DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database. 
        The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.
        
        Example - We have a table "employees" and it contains the following columns: "id", "name", "department" and "salary". To retrieve the names and salaries of all employees in the "HR" department, we can use the following SQL statement:
        
        SELECT name, salary FROM employees WHERE department = 'HR';

# Question 5
Answer : 
        
        Primary Key - It is a unique identifier for each record in a table. It is a column or a set of columns that uniquely identifies each row in the table. The primary key is used to enforce data integrity and ensure that each record in the table is unique.
        Foreign Key - It is a column or a set of columns in one table that refers to the primary key in another table. It is used to establish a link between two tables and enforce referential integrity.

# Question 6
Answer : Python code to connect MySQL to python.

import mysql.connector

mydb = mysql.connector.connect( host="localhost", user="username", password="password" )

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

result = mycursor.fetchall()

for row in result: print(row)

        cursor() - It is a method used to create a cursor object. The cursor object is used to execute SQL queries and fetch the results.
        
        execute() - It is a method of the cursor object is used to execute an SQL query. It takes an SQL query as a parameter and executes it on the database.

# Question 7
Answer : The order of execution of SQL clauses in an SQL query are :-
        
        1. FROM
        2. WHERE
        3. GROUP BY
        4. HAVING
        5. SELECT
        6. ORDER BY
        7. LIMIT